API documentation

hello.

I've read through the current mli https://github.com/mirage/fiat/blob/2b4f052840f6b8e42e06991a8fb868a5099e02ec/p256/fiat_p256.mli

the following observations:
- `point_of_cs` mentions SEC1, section 2.3.4 pretty early, and have a link to SEC1 at the end. at least for me that's confusing, I'd prefer sth like `{{:https://here-is-sec1}SEC1}`.
- I'm still a bit confused by point and scalar, now in the docstring of `public`, you mention `this multiplies the generator by the scalar` and I've no idea what the `generator` is
- from what I know, for ECC you've to be careful to (a) not use infinity nor zero (b) check that a point is on the curve. now, `point_error` includes these error invariants, but the docstring for `point_of_cs` could be more explicit what checks are done
- for scalars, is checking 0 and < group order sufficient (i.e. there is no "check that it is on curve")?
- I like the intro and key_exchange docs of https://github.com/mirage/hacl/blob/master/src/hacl_x25519.mli, and think this could be similar here (i.e. mention the purpose, where the code comes from, and which checks are done by the library vs need to be done by a caller)

thanks!

another point is padding - i.e. what happens with leading 0 bytes and to_cstruct? see https://github.com/mirage/hacl/issues/8

afaict, TLS < 1.3 required these to be stripped, while 1.3 require them to be present (but e.g. OTR requires them to be stripped)..

Thanks for the feedback, it's much appreciated. I'll take a look and try to fix that ASAP!

> for scalars, is checking 0 and < group order sufficient (i.e. there is no "check that it is on curve")?

Given the invariants on `point` and `scalar` points returned by both `public` and `dh` are guaranteed to always be on the curve so no need for an extra check there. For the point at infinity I believe this should be true as well but I'd need to make sure of it.

We should probably add some fuzzing to the repo.

> I like the intro and key_exchange docs of https://github.com/mirage/hacl/blob/master/src/hacl_x25519.mli, and think this could be similar here (i.e. mention the purpose, where the code comes from, and which checks are done by the library vs need to be done by a caller)

We're going to try to improve this as well, in particular it would be nice to unify the APIs of `fiat` and `hacl`.
I'm not really comfortable with a really user friendly API for such low level crypto primitives, especially the use of `public_key` for points and `private_key` for scalars, both because it's not entirely accurate and because it may let people think it's okay to use it in application code.

Having a cryptic API isn't a good way to solve this either so we need to find a good middle ground.

We addressed the other points in an upcoming PR, I'll cc you so you can tell how much of an improvement it is.

tbh, I'm not entirely sure about the API. what I have atm (not sure whether this code still compiles, though; furthermore, it should return result instead of option):
```OCaml
let dh_shared group secret share =
  (* RFC 8556, Section 7.4.1 - we need zero-padding on the left *)
  not_all_zero
    (match Core.group_to_impl group, secret with
     | `Nocrypto nc_group, `Nocrypto secret -> 
      begin match Nocrypto.Dh.shared nc_group secret share with
       | None -> None
       | Some x -> Some x
      end
     | `Hacl `X25519, `Hacl priv ->
       begin match Hacl_x25519.of_cstruct share with
         | Error _ -> None
         | Ok public -> Some (Hacl_x25519.key_exchange ~pub:public ~priv)
       end
     | `Fiat `P256, `Fiat scalar ->
       begin match Fiat_p256.point_of_cs share with
         | None -> None
         | Some point -> Some (Fiat_p256.dh ~scalar ~point)
       end
     | _ -> assert false)
```

I personally would as well be happy with an API:
`val shared : private -> Cstruct.t -> (Cstruct.t, [> `Msg of string ]) result`

i.e. using a raw Cstruct.t for the shared data which does the checks necessary, instead of in a first step converting the buffer to a point (public), just to pass it into the `shared` / `dh` / `key_exchange` function (which I'd also like to have a unified name for) -- do you have (or can think of a realistic one) a use case that you already have the pre-parsed point/shared/public?

with the above done, we could likely get rid of the `type public` from the interface.. then the only question is where to do padding...

looking back at the nocrypto Dh interface, I'm also suspicious of the scalar_of_cs / scalar_of_hex / public functions, from a user side, a single `val gen_key : rng:(int -> Cstruct.t) -> scalar * Cstruct.t` is much easier to handle, and makes it also more obvious that the "private" should not be reused (and whenever you generate a private, you also get the cstruct to transmit). i can see how the above functions are useful for testing, but imho they don't need to be exported by the module.

I agree in the case of DHE the API should make it clear that the private key is for single use only.

I'm guessing that if we wish to implement signature schemes in the future, the current API would make a better fit as `scalar` and `point ` would then be meant to be reused. Being able not to go through the Cstruct conversion and checks every time you wish to perform a signature (or verify one) could make sense, although even then I'm not sure this stands.

I think we could move to a simplified API as you suggest, although I'd like to hear @emillon 's take on this before going further.

Either case, once we made a decision, we'll indeed unify `hacl` and `fiat` APIs.

@hannesm do you confirm #38 fixed this and that I can close this issue?

thanks, yes